

<app-main-nav>
    
    <div style="text-align:center">
      <h1>
        Welcome to the store!
      </h1>
    </div>
    <app-login></app-login>
  
     
     <div style="text-align:center">
         <h3>
             <br/>
             This is a web application where you can buy fish!<br/>
             If you create an account and sign in you can view<br/>
             all of the different fish we sell. 
             
         </h3>
         
     </div>
      
    <button mat-raised-button color="primary">Click me!</button>
    
</app-main-nav>

