<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="">Home</a>
      <a mat-list-item routerLink="/products">Products</a>
      <a *ngIf="isAccessLevel1()" mat-list-item routerLink="/cart">My Cart</a>
      <a *ngIf="isAccessLevel2()" mat-list-item routerLink="/inventory">Edit Inventory</a>
      <a *ngIf="isAccessLevel3()" mat-list-item routerLink="/admin">Edit Users</a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      
    
        <span>Nick's Aquatic Warehouse</span>
         <span *ngIf="isAccessLevel3()" class="title-right" >admin</span>
   
    </mat-toolbar>
    <ng-content></ng-content>
    
  </mat-sidenav-content>
</mat-sidenav-container>
